@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 10px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #264157;
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-notification-div {
  width: 300px;
  height: 300px;
  background: #ffff;
  border-radius: 2px;
}

.header {
  width: 300px;
  height: 60px;
  background: #5e98cc;
  border-radius: 2px 2px 0 0;
  display: flex;

  align-items: center;
}

.button-menu {
  height: 30px;
  width: 30px;
  margin-left: 15px;
  cursor: pointer;
}

.first-line {
  display: flex;
  flex-direction: row;
}

.button-menu .retangular-button-menu-icon {
  width: 23px;
  height: 3.5px;
  background: #b3daff;
  position: absolute;
  border-radius: 1.5px;
  margin-top: 5px;
}

.button-menu .circle-button-menu-icon {
  width: 8px;
  height: 8px;
  background: #b3daff;
  position: absolute;
  border-radius: 50%;
  margin-left: 25px;
  margin-top: 2px;
}

.button-menu .default-button-menu-icon {
  width: 30px;
  height: 3.5px;
  background: #b3daff;
  position: absolute;
  margin-top: 17px;
  border-radius: 1.5px;
}
