@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #3fae81;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #333;
  font-family: "Open Sans", Helvetica, sans-serif;
  height: 400px;
  left: 50%;
  margin-left: -200px;
  margin-top: -200px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 400px;
}

.center {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}

.center .rectangle {
  background: #fff;
  border-radius: 5px;
  border: 20px;
  box-shadow: 1px 1px 5px #000;
  display: flex;
  height: 8px;
  justify-content: space-around;
  margin: 7px;
  width: 80px;
}
